/* 전체 글씨 폰트 및 모든 태그 설정 */
* {
    font-family: 'Noto Serif KR', serif;
    list-style: none;
}

ul {
    padding-left : 0px;
}
a {
    text-decoration: none;
}

/* header의 css를 담당하는 부분 */

.container-fluid {
    color: white;
}

header > nav > .icon-container {
    margin-left:12rem;
}

header > nav > .navbar-brand {
    margin-right:12rem;
}

/* main css 담당하는 부분*/


.linkicon > ul img{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}

#mainpage > nav {
    margin:0px 20px;
}

#mainpage > section.title-container > a > button{
    background-color: lightblue;
}

#myintro,
#mainpage {
    padding-top: 2rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#mainpage > .title-container {
    flex : 4
}

#mainpage > .mainpage-img-container {
    flex: 6;
    margin: 0px 20px;
    background-image: linear-gradient(to left,transparent,cornsilk), url('./img/labtop.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#skills > h2,
#myintro .info-text-container h2,
#mainpage > .title-container > h3 {
    color: lightskyblue;
    font-weight: bold;
}

#myintro .info-text-container h3,
#mainpage > .title-container > h2 {
    color: grey;
    font-weight: bold;
}

#mainpage > .title-container > ul {
    color: rgb(100,130,200);
}

/* myintro 담당하는 부분 */

#myintro {
    display:flex;
    align-items: center;
    justify-content:center;
}

#myintro > .myintro-layout-parent {
    display: flex;
    margin-bottom: 120px;
}

#myintro > .myintro-layout-parent > .info-text-container {
    display: flex;
    flex-direction: column;
}

#myintro > .myintro-layout-parent .myinterest,
#myintro > .myintro-layout-parent .contact-info-ul {
    display: flex;
}

#myintro > .myintro-layout-parent .profile-img {
    background-image: url(./img/profile.jpg);
    width: 400px;
    height: 700px;
    background-size: cover;
    margin: 10px 20px;
}

/* skills 담당하는 부분 */

#skills {
    text-align: center;
}

#skills .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .card {
    margin-right: 50px;
    margin-left: 50px;
}

/* 복붙한 부분 */
#project h2 {
    text-align: center;
    margin-top:30px;
    margin-bottom: 50px;
}

#project > .edu-project-container{
    display: flex;
}

#project .edu-container{
    flex:2;
}

#project .project-container{
    flex:1;
}

@media(max-width:992px){
    #project > .edu-project-container{
        flex-direction: column;
    }
}

#project > .edu-project-container h3{
    display: flex;
    align-items: center;
}
#project > .edu-project-container h3 .material-symbols-outlined{
    font-size:3rem;
    margin-right:20px;
}

#project .date{
    margin-top:10px;
    display: flex;
    align-items: center;
}

#project .date-data{
    margin-left:20px;
}

#project li {
    border-left: 5px solid rgb(4,1,112);
    padding-left:30px;
    margin-bottom:30px;
}



/* 복붙한 부분 끝 */

#contact {
    flex: display;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact > .contact-container {
    flex: display;
}

#contact > .contact-container > .contact-left-container {
    flex: display;
    flex-direction: column;
}



/* footer 담당하는 부분 */

footer {
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color : white;
    font-size: 2rem;
}

@media (max-width : 1290px) {
    footer {
        font-size: 1rem;
    }
}

@media (max-width: 575px){

    header > nav > .icon-container {
        margin-left:6rem;
    }

    header > nav > .navbar-brand {
        margin-right:6rem;
    }
    
    #mainpage {
        display: none;
    }

    #myintro,
    #mypjt,
    #skills,
    #contact,
    #footer {
        display: none;
    }
    footer {
        display:none;
    }
}