/*여기까지는 네비게이션 바와 사이드 바*/

.guide-line {
    /* border : 1px solid black; */
    width: 100%;
    height: auto;
    min-height: 20rem;
}

.container-fluid {
    margin-top: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    margin-left:auto;
    position : fixed;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

/*메인 중에 캐러셀*/
#intro {
    overflow: hidden;
}

.carousel-item > img {
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 500px;
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    right: 5%;
    top: 35%;
    left: 55%;
    text-align: center;
}